fastapi
uvicorn[standard]
sqlalchemy[async]
aiosqlite
asyncpg
pydantic
pydantic-settings
python-jose[cryptography]
passlib
python-multipart
minio
requests
celery
redis
prometheus-fastapi-instrumentator
pytest
pytest-asyncio
httpx
